<p id="notice"><%= notice %></p>
<h1><%= @user.name %>'s events</h1>
<table>
  <thead>
    <tr>
      <th>Event ID</th>
      <th>Event</th>
      <th>Date</th>
      <th>Location</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @user.events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= event.name %></td>
        <td><%= event.date %></td>
        <td><%= event.location %></td>
        <td><%= event.description %></td>
      </tr>
    <% end %>
    <br>
  </tbody>
  <%
=begin%>
  <%= link_to 'Edit', edit_user_path(@user) %> | 
  <%
=end%>
</table>
<%= link_to 'Back', users_path %>
