<p id="notice"><%= notice %></p>
<strong>Creator: </strong> <%= @creator.name %> <br>
<br>
<strong>Event name: </strong> <%= @event.name %> <br>
<strong>Date: </strong> <%= @event.date %> <br>
<strong>Location: </strong><%= @event.location %><br>
<strong>Description: </strong><%= @event.description %>
<br>
<br>
<%= link_to 'Back to events home', root_path %>
