<p id="notice"><%= notice %></p>
<h2>Event name: <%= @event.name %><br>
</h2>
<br>
<strong>Creator: </strong> <%= @creator.name %> <br>
<strong>Date: </strong> <%= @event.date %> <br>
<strong>Location: </strong><%= @event.location %><br>
<strong>Description: </strong><%= @event.description %>
<br>
<h3>Attendees: </h3>
<% @event.attendees.each do |attendee| %>
<%= attendee.name+"," %>
<% end %>
<br>
<br>
<% if logged_in? && (@event.date >= Date.today) %>
<%= button_to "Enroll", enrollment_path(event_id: @event.id, user_id: current_user.id), method: :post %>
<% end %>
<br>
<br>
<%= link_to 'Back to events home', root_path %>